/* ============
  Main Classes
===============*/

.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

/* ==============
  Pop-up Classes
=================*/

.modal {
  font-size: 16px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  justify-content: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  color: black;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* ==============
  Global Classes
=================*/

a {
  color: #53b3cb;
  text-decoration: none;
}



/* =========
  Adjusters
============*/

.left {
  text-align: left;
}

.blue {
  color: #62A9FF;
}

.orange {
  color: #E6CE00;
}

.popup {
  color: black;
}

.animate {
  animation-name: Popup-animation;
  animation-duration: 0.8s;
}

.none {
  display: none;
}

.small {
  display: inline-block;
  width: 50%;
}

/* ==========================
Media Queries and Keyframes
=============================*/

@media all and (max-width: 600px) {
  p {
    font-size: 10px;
    line-height: 2em;
  }
  .blue {
    display: none;
  }
  .fab {
    position: relative;
    top: -15px;
    left: 5px;
    font-size: 20px;
  }
  .left {
    text-align: left;
    left: -5px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Popup-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
